<ion-view view-title="Review {{company_name}}">
    <ion-nav-bar class="nav-title-slide-ios7 bar-custom">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
      <ion-nav-buttons side="right">
		             <div ng-include="'templates/power.html'"></div> 

	
      </ion-nav-buttons>
    <ion-content class="dispute_cut_back">
        <div class="dispute_cut">
            <h1>How Would you rate the quality of lawn cut?</h1>
            <div class="stars">
                <div class="rate_user">
                    <!--    <rating ng-model="rate" max="max" readonly="true"></rating>-->
                    <div fundoo-rating rating-value="rate" max="5" on-rating-selected="saveRatingToServer(rating)"></div>
                </div>
            </div>
            <h1>What do you think of the service?</h1>
            <textarea ng-model="appointment_review.comments"></textarea>
			<br/><br/>
			<div style="float:left;width:96%;margin-left:2%;">
            <div class="col col-50 auction_float">
                <a class="button button-full button-custom auction_cut fontsforweb_fontid_12950" 	ng-click= "review()" >
             Review
             </a>
            </div>
            <div class="col col-50 auction_float">
                <a class="button button-full button-custom auction_cut fontsforweb_fontid_12950" 	href= "#no_appointment" style="background-color: white !important;
    color: #82c4ec !important;
    border: 1px solid #82c4ec !important; ">
            Skip
            </a>
            </div>
			</div>
			<br/><br/><br/><br/>
        </div>
		
		<style>
		.rating .filled {
    color: #faa632;
    font-size: 48px;
}
ul.rating li {
    display: inline;
    border: 0px;
    background: none;
    padding: 3px 3px;
    font-size: 48px;
	color:#D1D1D1;
	}
		</style>
    </ion-content>
</ion-view>
