<ion-view>
    
  
<ion-nav-bar class="bar-positive nav-title-slide-ios7">
     	 <ion-nav-buttons side="left">
	<a href="#/services"> <img class="title-image" src="img/asset/headerCity.png" style="width: 100px;
height: 25px;
margin: 5px 0 0 8px" /></a>
	 </ion-nav-buttons>
    <ion-nav-buttons side="right">
 
   <!-- Toggle left side menu -->
    <div ng-include="&apos;templates/power.html&apos;" ng-controller="power2Ctrl"></div> 
   <button menu-toggle="right" style="margin-left: 106px !important;
    top: -36px;" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

	  </ion-nav-bar>
    <ion-content >
    <div ng-include="'templates/searchbox_2.html'" ng-controller="searchBoxCtrl"></div> 
        
            <hr>
                <div>
                    
                        <div class="content">
                          <h4 class="cur_bid">Notifications</h4>
                          <!--ng-if="$index < 10"-->
                            <a ng-click="detailJob(x.app_id)" ng-repeat="x in notify">
                                <div class="list card" style="margin-bottom:10px;">
                                
                                    <div class="item item-avatar ratethem" style="width:79% !important;">
                                       <img src="http://incitysearch.com/themes/web/images/app/{{x.serviceicons}}" alt="" style="font-size: 8px;max-width: 50px;border-radius:0px ">   
                                            <h2>{{x.servicename}} ({{x.jobname}})</h2>
                                            <p style="font-size:10px !important;">
                                       {{x.appointment_date}}: {{x.appointment_timing}}
                                            </p>
                                        </div>
                                        <div class="item item_right_rate"style="width:19% !important;">
                                             <i class="ion-ios-arrow-right" style="  float:right;"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                       
                            </ion-content>
							
                        </ion-view>
