<ion-view view-title="Contact us">
    <!--<ion-nav-bar class="nav-title-slide-ios7 bar-custom">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
          <ion-nav-buttons side="right">
		             <div ng-include="'templates/power.html'"></div> 

	
      </ion-nav-buttons>-->
    <ion-content>
        <div class="logo_align_dash">
            <img ng-src="img/asset/greenpal-mobile-logo.png">
            </div>
        
            <hr>
                <div ng-if="tab=='first'">
                    <div class="card user_wrap my_greenpal">
                        <div class="wrap_avatar_greenpal">
                            <img src="img/asset/avatar.jpg" style="left:0px;">
                               <!-- <h2 class="fontsforweb_fontid_12950">$55</h2>-->
                            </div>
                            <div class="wrap_rating fontsforweb_fontid_12950">
							<div class="peach_head">
                                    <h4>Incity App</h4>
                                </div>
                                <div>E-51-First Floor,</div>
								<div>Phase VIII, Industrial Area,</div>
								<div>SAS Nagar, Mohali,</div>
								<div>Punjab-160059</div>
								<div>+91-95016-63394,0172-4009730</div>

 

                                
                                <!--<div class="rate_user">
                                    <rating ng-model="rate" max="max" readonly="true"></rating>
                                </div>
                                <div>({{rate}} Avg.)</div>-->
                            </div>
                        </div>
                        <div class="row wrap_button">
                            <div class="col_custom" ng-click="email('nishantgarg.27@gmail.com')">
                                <img src="img/asset/email.png">
                                    <span>Email</span>
                                </div>
                                <div class="col_custom" ng-click="sms('7696622805')">
                                    <img src="img/asset/text.png">
                                        <span>Text</span>
                                    </div>
                                    <div class="col_custom"  ng-click="call('7696622805')">
                                        <img src="img/asset/call.png">
                                            <span>Call</span>
                                        </div>
                                    </div>
                                 <!--   <div class="content_lower_wrap">
                                        <button class="button button-full button-custom schedule_cut fontsforweb_fontid_12950">
           Schedule more
        </button>
                                    </div>-->
                                    <div class="content_lower_wrap">
                                        <a class="fontsforweb_fontid_12950">
           Not happy with your current work?
        </a>
                                    </div>
                                </div>
                                <div ng-if="tab=='second'">
                                    <div class="calendar">
                                        <img ng-src="img/asset/calendar-icon-0-days.png">
                                        </div>
                                        <div class="content_appointment">
                                            <h1>No Scheduled Appointments </h1>
                                        </div>
                                        <div class="content_lower">
                                            <button ng-click="gotourl('specific')" class="button button-full button-custom schedule_cut fontsforweb_fontid_12950">
           Schedule a cut
        </button>
                                            <div class="or_state fontsforweb_fontid_12950"> -OR- </div>
                                            <button ng-click="gotourl('new_auction')" class="button button-full button-trans schedule_cut fontsforweb_fontid_12950">
           Get new quotes
        </button>
                                        </div>
                                    </div>
                                </ion-content>
                            </ion-view>
