	 <ul ng-if="useremail!=null">
	 
	 
	 	 
 
	 
  <li class="ion-android-notifications pic" data-tags="on, off" data-pack="default" style="    font-size: 23px;
    color: white;
    margin-right: 12px;
    margin-top: 6px;
    float: left;" ></li>
	
	
	<li data-tags="on, off" data-pack="default" style="    font-size: 23px;
    color: white;
    margin-right: 12px;
    margin-top: 6px;
    float: left;" ng-click="popover.show($event)" ng-controller="PopoverNewCtrl"><img ng-src="img/asset/jobs.png" style="width:21px;"> </li>
	<!--<img ng-src="img/asset/jobs.png">-->
	
	
	<li class="ion-person pic" data-tags="on, off" data-pack="default" style="font-size: 23px;
    color: white;
    margin-right: 30px;
    margin-top: 6px;
    float: left;"  ng-click="popover.show($event)" ></li>
    
     
    
  </ul>

  
  	 <ul ng-if="useremail==null">
	 
	 <a href="#/login">
  <li class="ion-log-in pic"  data-tags="on, off" data-pack="default" style="    font-size: 23px;
    color: white;
    margin-right: 0px;
	margin-left:24px;
    margin-top: 6px;
    float: left;" ></li></a>
    
    
    
  </ul>
  
    
