<ion-view>
  <ion-content class="padding">
     <div class="logo_align">
	   <img ng-src="img/asset/greenpal-mobile-logo.png">
	 </div>
    <form>
	 <div class="list custom-form">
	  <label class="item item-input item-floating-label border-bottom">
		<span class="input-label">Phone Number</span>
		<i class="ion-ios-telephone" style="height: 27px;
    width: 20px;
    float: left;
    margin-right: 0px;
    /* background-size: 25px 25px; */
    position: absolute;
    left: 0;
    bottom: 7px;
    margin-left: 8px;
    color: #EAA528;font-size:20px"></i><input type="email" placeholder="Phone Number" class="padding_input" ng-model="user.email" required>
	  </label>

	   
	</div>
	 <div class="login_align">
       <button ng-invalid="login.$invalid" class="button button-custom top">
     Reset Password
     </button>
	 </div>
	 


 </form>
	
  
  </ion-content>
</ion-view>
